.wbdv-input-group-align {
    padding-top: inherit !important;
    border-top-width: medium !important;
}

.wbdv-add-course-icon-color {
    color: orange !important;
}

.wbdv-rm-round-corners {
    border-radius: 0 !important;
}

.wbdv-float-btn {
    position: fixed;
    right: 45px;
    bottom: 40px;
    color: orange;
    border-radius: 50px;
}

table td {
    vertical-align: middle;
}

table tr th:nth-child(4) {
    min-width: 133px;
}